<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--UserDao的映射文件，namespace属性定义该文件映射哪个dao接口-->
<mapper namespace="com.newer.dao.UserDao">
  
  <select id="findById" resultType="com.newer.pojo.Student">
      SELECT * FROM userinfo where userid=#{userId}
  </select>

  <update id="updateUser">
      UPDATE userinfo SET password=#{passWord},sex=#{sex}
       WHERE userid=#{userId}
  </update>
  
</mapper>  